@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Input your prompt below</h2>
</div>

<div class="align-content-center">
    <input type="text" id="inputField" />
    <button type="button" id="sendRequest" class="bg-primary">Submit</button>
    <div id="llama-response"></div>
</div>